<!DOCTYPE html>
<html
{% block html_attribs %}
data-theme="wireframe"
{% endblock html_attribs %}>
  <head>
    {%- block head %}
    <title>{% block title %}{% endblock title %}</title>
    {%- block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    {%- endblock metas %}
    {%- block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" type="text/css">
    {%- endblock styles %}
    {%- endblock head %}
  </head>
  <body {% block body_attribs %}{% endblock body_attribs %}>  
  
  {% block content %}
  {% endblock content%}

  {% block footer -%}
  {% endblock footer %}

  {% block scripts %}{%- endblock scripts %}
  </body>
</html>
