<!DOCTYPE html>
<html {% block html_attribs %} data-theme="wireframe" {% endblock html_attribs %}>

<head>
  {%- block head %}
  <title>{% block title %}{% endblock title %}</title>
  {%- block metas %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  {%- endblock metas %}
  {%- block styles %}
  <link rel="preload" href="{{ url_for('static', filename='css/output.css') }}" as="style">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" type="text/css">
  {%- endblock styles %}
  {%- endblock head %}
</head>

<body {% block body_attribs %}{% endblock body_attribs %}>
  {% for category, message in get_flashed_messages(with_categories=true) %}
  <div role="alert" id="alert" class="{{ 'alert alert-error' if category=='error' else 'alert alert-success' }}">
    <span>{{ message }}</span>
  </div>
  {% endfor %}

  {% block content %}
  {% endblock content%}

  {% block footer -%}
  {% endblock footer %}

  {% block scripts %}
  <script src="{{ url_for('static', filename='/js/base.js') }}" type="application/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  {%- endblock scripts %}
</body>

</html>