{% set current_page = request.endpoint %}

<!DOCTYPE html>
<html {% block html_attribs %} data-theme="wireframe" {% endblock html_attribs %}>

<head>
  {%- block head %}
  <title>{% block title %}{% endblock title %}</title>
  {%- block metas %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  {%- endblock metas %}
  {%- block styles %}
  <link rel="preload" href="{{ url_for('static', filename='css/output.css') }}" as="style">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" type="text/css">
  {%- endblock styles %}
  {%- endblock head %}
</head>

<body {% block body_attribs %}{% endblock body_attribs %}>
  <div class="flex flex-col h-full">

    {% block navbar %}
    <div class="navbar container mx-auto bg-base-100">
      <div class="flex-1">
        <a class="btn btn-ghost text-xl" href="{{ url_for('main.index') }}">Hivemind</a>
      </div>
      <div class="flex-none gap-2">
        {% if current_user.is_authenticated %}
        <div> {{ current_user.name }} </div>
          <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
              <div class="w-10 rounded-full">
                <img src="{{ url_for('static', filename=current_user.profile_picture) }}" />
              </div>
            </div>
            <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
              <li><a href="{{ url_for('settings.edit_profile') }}">Settings</a></li>
              <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            </ul>
          </div>
        {% else %}
          {% if current_page != 'auth.login' %}
            <div>
              <a href="{{ url_for('auth.login') }}">Login</a>
            </div>
          {% endif %}
        {% endif %}
      </div>
    </div>
    {% endblock navbar %}

    {% for category, message in get_flashed_messages(with_categories=true) %}
    <div role="alert" id="alert" class="{{ 'alert alert-error container mx-auto' if category=='error' else 'alert alert-success container mx-auto' }}">
      <span>{{ message }}</span>
    </div>
    {% endfor %}

    {% block content %}
    {% endblock content%}

    {% block footer -%}
    <footer class="footer footer-center text-base-content">
      <ul class="menu menu-horizontal gap-0.5">
        <li class="text-xs">Copyright ©</li>
        <li><a class="text-xs p-2" href="https://github.com/ecar33">Evan Carlile</a></li>
      </ul>
    </footer>
    {% endblock footer %}

  </div>

  {% block scripts %}
  <script src="{{ url_for('static', filename='/js/base.js') }}" type="application/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  {%- endblock scripts %}
</body>

</html>