{% extends 'base.html' %}


{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/hive.css') }}" type="text/css">
{% endblock styles %}

{% block content %}
<meta id="my-data" data-chatroom_id="{{ chatroom_id }}" data-name="{{ current_user.name }}">

<div class="drawer h-dvh lg:drawer-open">
  <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col justify-between">
    <div class="navbar bg-primary">
      <div class="flex-none lg:hidden">
        <label for="my-drawer-2" aria-label="open sidebar" class="btn btn-square btn-ghost">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            class="inline-block h-6 w-6 stroke-current">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </label>
      </div>
      <div class="mx-2 flex-1 px-2">Chatroom {{ chatroom_id }}</div>
      <div class="hidden flex-none lg:block">
        <ul class="menu menu-horizontal">
          <!-- Navbar menu content here -->
          <li><a>Navbar Item 1</a></li>
          <li><a>Navbar Item 2</a></li>
        </ul>
      </div>
    </div>
    <!-- Page content here -->
    <div id="chat-message-container" class="flex flex-col scroll-smooth overflow-y-auto p-4 gap-4"
      style="height: calc(100vh - 9rem);">
      <!-- Message template for received messages -->
      <template id="rcv-message-template">
        <div class="chat chat-start">
          <div class="chat-image avatar">
            <div class="w-10 rounded-full">
              <img alt="Tailwind CSS chat bubble component"
                src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
            </div>
          </div>
          <div id="chat-header" class="chat-header">
            <time class="text-xs opacity-50">12:45</time>
          </div>
          <div id="chat-content" class="chat-bubble max-w-fit"></div>
        </div>
      </template>

      <!-- Message template for sent messages -->
      <template id="snd-message-template">
        <div class="chat chat-end">
          <div class="chat-image avatar">
            <div class="w-10 rounded-full">
              <img alt="Tailwind CSS chat bubble component"
                src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
            </div>
          </div>
          <div id="chat-header" class="chat-header">
            <time class="text-xs opacity-50">12:45</time>
          </div>
          <div id="chat-content" class="chat-bubble"></div>
        </div>
      </template>
      <!-- {% for message in chat_messages %}
          <div class="chat chat-start">
            <div class="chat-image avatar">
              <div class="w-10 rounded-full">
                <img
                  alt="Tailwind CSS chat bubble component"
                  src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
              </div>
            </div>
            <div class="chat-header">
              User {{ message.user_id }}
              <time class="text-xs opacity-50">12:45</time>
            </div>
            <div class="chat-bubble max-w-fit">{{ message.content }}</div>
          </div>
        {% endfor %} -->
    </div>
    <!-- Sticky Message Send Bar -->
    <div class="sticky bottom-0 p-4 shadow flex items-center gap-2">
      <input id="text" type="text" placeholder="Enter a message..." class="flex-1 p-2 border rounded" />
      <button id='send' class="p-2 bg-blue-500 text-white rounded pl-2">
        Send
      </button>
    </div>
  </div>
  <div class="drawer-side">
    <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu bg-base-200 text-base-content min-h-full w-64">
      <!-- Sidebar content here -->
      <li><a>Users: </a></li>
      <ul id="user_list">
        {% for user in participants %}
        <li><a>{{ user }}</a></li>
        {% endfor %}
      </ul>
    </ul>
  </div>
</div>
{% endblock %}

{% block scripts %}

{{ super() }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
  integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
  crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {
    var socket = io('/hive');
    var data = $('#my-data').data();
    var name = data.name
    var clone_msg = ''
    const snd_msg_template = document.getElementById('snd-message-template')
    const rcv_msg_template = document.getElementById('rcv-message-template')
    const user_list = document.getElementById('user_list')
    socket.on('connect', function () {
      console.log("Connected")
      socket.emit('join');
    });
    socket.on('update_userlist', function (data) {
      $(user_list).empty();
      for (const user of data.userlist) {
        var li = document.createElement("li");
        var a = document.createElement("a");
        li.appendChild(a).appendChild((document.createTextNode(user)));
        user_list.appendChild(li);
      }
    });
    socket.on('status', function (data) {
      var div = document.createElement("div");
      div.textContent = data.msg
      $('#chat-message-container').append(div)
      $('#chat-message-container').scrollTop($('#chat-message-container')[0].scrollHeight);
    });
    socket.on('message', function (data) {
      if (data.user_id == '{{ current_user.id }}') {
        clone_msg = snd_msg_template.content.cloneNode(true)
      }
      else {
        clone_msg = rcv_msg_template.content.cloneNode(true)
      }
      var msg_header = clone_msg.getElementById('chat-header')
      var msg_content = clone_msg.getElementById('chat-content')
      msg_header.textContent = data.name
      msg_content.textContent = data.content
      $('#chat-message-container').append(clone_msg)
      $('#chat-message-container').scrollTop($('#chat-message-container')[0].scrollHeight);
    });
    $('#text').keypress(function (e) {
      const code = e.keyCode || e.which;
      if (code == 13) {
        text = $('#text').val();
        $('#text').val('');
        if (!(typeof text === "string" && text.length === 0)) {
          socket.emit('send_message', {
            user_id: '{{ current_user.id }}',
            name: name,
            content: text
          });
        }
      }
    });
    $('#text').keypress(function (e) {
      const code = e.keyCode || e.which;
      if (code == 13) {
        text = $('#text').val();
        $('#text').val('');
        if (!(typeof text === "string" && text.length === 0)) {
          socket.emit('send_message', {
            user_id: '{{ current_user.id }}',
            name: name,
            content: text
          });
        }
      }
    });
  });
</script>

{% endblock scripts %}