{% extends 'base.html'%}

{% block content %}
<div class= "flex-1 flex flex-col justify-center items-center">
    <h1 class="mb-2">Hivemind</h1>
    <form method="POST" class="flex flex-col justify-center">
        {{ form.hidden_tag() }}
        <label class="input input-bordered flex items-center gap-2 mb-2">
            Username
            {{ form.username(class_="grow") }} {% for error in form.username.errors %}{{ error }}{% endfor %}<br>
        </label>
        <label class="input input-bordered flex items-center gap-2 mb-2">
            Password
            {{ form.password(class_="grow") }} {% for error in form.password.errors %}{{ error }}{% endfor %}<br>
        </label>
        {{ form.submit(class_="align-center btn w-44 self-center mt-2") }}
    </form>
</div>
{% endblock content %}